{% extends 'missions/base.html' %}

{% load staticfiles %}

{% block body_block %}
<h1> Add a mission! </h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">

  <form id="mission_form" method="post" action="">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.errors }}
        <h3>{{ field.help_text }}</h3>
        {{ field }}<br>
      </div>
    {% endfor %}
    <input class="btn btn-success" type="submit" name="submit" value="Create Mission!">
    <a class="btn btn-warning "href="{% url 'users:mytasks' %}">Back</a>
  </form>

</div>
</div>
</div>

<br>

{% endblock %}
