{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
<h1> Editing a task in Mission: {{task.belongs_to.name}}</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">

<form id="task_form" method="post" action="">

  {% csrf_token %}
  {% for field in form.visible_fields %}
    {{field.errors}}
    <h3>{{field.help_text}}</h3>
    {{field}}
    <br>
  {% endfor %}

  <br>
  <input class="btn btn-success" type="submit" name="submit" value="Save Changes">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger btn-right" data-toggle="modal" data-target="#myModal">
    Delete Task
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div style="color:black;"class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"> Task Delete Confirmation </h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this mission? This action can not be reversed.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="{% url 'users:delete_task' task.id %}" class="btn btn-danger btn-right">Delete Task</a>
        </div>
      </div>
    </div>
  </div>

  <a class="btn btn-default" href="{% url 'users:list_tasks' task.belongs_to.id %}"> Back </a>
</form>

</div>
</div>
</div>
<br>
{%endblock%}
