{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>My Quests</h1><br>
        {% for task in tasks %}
          <div class="col-md-12" id="mission">
            <h3>{{ task.name }}<br>
            <small> Mission Overseer: {{task.belongs_to.belongs_to.user.first_name}}</small><br>
            <small> Part of the mission : {{task.belongs_to.name}}</small></h3>
            <p>{{ task.description }}</p><br>
            <a href="{% url 'users:remove_task' task.id %}" class="btn btn-danger btn-right">Remove</a><br>
            </div>
            {% endfor %}
            <br>
    </div>
    <div class= "col-md-6">
      <h1>Owned Missions</h1><br>
        {% for mission in missions %}
          <div class="col-md-12" id="mission">
            <h3>{{ mission.name }}<br><small>Mission Overseer: {{ mission.belongs_to.user.first_name}} </small></h3>
            <p>{{ mission.description }}</p><br>
            <div class="btn-right">
              <a href="{% url 'users:list_tasks' mission.id %}" class="btn btn-primary">Show Tasks</a>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
