{% extends 'base.html'%}

{% load static %}

{% block body_block %}

<h1> {{mission.name}} <small>Supervisor: {{mission.belongs_to.user.first_name}}</small></h1><br>

<div class="container">
  <div class="row">
    {% for task in tasks %}
      <div class="col-md-6" id="mission">
      <h3>{{ task.name }}</h3>
      <p> Experience Points Reward: <b>{{task.exp }} EXP</b></p> <br>

      <button type="button" class="btn btn-default btn-right" data-toggle="modal" data-target="#{{task.id}}">
        Details
      </button>

      <!-- Modal -->
      <div class="modal fade" id="{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel" style="color:black;">{{ task.name }}</h4>
            </div>
            <div class="modal-body">
              <p style="color:black;">{{task.description}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

        {% if task.completed %}
          <a class="btn btn-success btn-right disabled" href="">This task has been completed.</a>
        {% elif userprofile in task.users_enrolled.all %}
          <a class="btn btn-success btn-right disabled" href="{% url 'missions:accept_task' task.id %}">You have accepted this task.</a><br>
        {% else %}
          <a class="btn btn-success btn-right" href="{% url 'missions:accept_task' task.id %}">Accept Mission</a><br>
        {% endif %}
      </div>

    {% endfor %}

  </div>
</div>

{% endblock %}
