{% extends 'base.html' %}

{% load static %}

{% block body_block %}

  <div class='container-fluid'>
    <div class='row'>
      {% for mission in missions %}
        <div class='col-md-4' id="mission">
          <h4>{{ mission.name }} <br><small>Mission Overseer: {{ mission.belongs_to.user.first_name}}</small></h4>
          Status: <i style="color: {{mission.priority.color}}">{{mission.priority}}</i><br><br>
          <!-- Button trigger modal -->
            <a href="{% url 'missions:detail_mission' id=mission.id %}" class="btn btn-warning btn-right"> Quests </a>
            <button type="button" class="btn btn-default btn-right" data-toggle="modal" data-target="#{{mission.id}}">
              Mission Statement
            </button>

            <!-- Modal -->
            <div class="modal fade" id="{{mission.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="color:black;">{{mission.name}}</h4>
                  </div>
                  <div class="modal-body" style="color:black;">
                    {{mission.description}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          <br>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
