a {
    color: #FCA205;
}

h1 {
  color: white;
  text-align:center;
}

#header {
  margin-top:20px;
  margin-bottom:20px;
  padding-top:30px;
  padding-bottom:20px;
  background-color: #000000;
}

.buttons-right {
  float:right;
}

#mission {
  padding-top:10px;
  border-width:3px;
  border-style:double;
  border-color:grey;
  margin-bottom:10px;
}
