form {
  color:black;
}

a {
    color: #E18A07;
}

h1 {
  color: white;
  text-align:center;
}

h3 {
  color: white;
}

body {
  color:white;
  background-color: #1A1A1A;
}

b {
  color:#32cd32;
}

p {
  color: #BEBEBE;
}

.black {
  color: black;
}

#header {
  border-width:3px;
  border-style:solid;
  border-color: #32cd32;
  margin-top:10px;
  margin-bottom:20px;
  padding-top:30px;
  padding-bottom:20px;
  background-color: #000000;
}

.btn-bar{
  border-style:solid;
  border-color:#32cd32;
  border-width:1px;
  padding-top:20px;
  margin-bottom:10px;
  background: black;
}

.btn {
  margin-left:5px;
}

.btn-right {
  float:right;
}

.well {
  margin-top:40px;
}

#mission {
  background-color: #4F4F4F;
  padding-top:10px;
  padding-bottom:10px;
  border-width:3px;
  border-style:solid;
  border-color:black;
  margin-bottom:5px;
}

#about {
  color:white;
  background-color: black;
  padding-top:10px;
  padding-bottom:10px;
  border-width:3px;
  border-style:solid;
  border-color:#32cd32;
  margin-bottom:5px;
}

#scorebox {
  background-color: #4F4F4F;
  margin:2px;
  padding:4px;
  border-width:2px;
  border-style:solid;
  border-color:black;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
